
body {
    background: #f59b9b; 

}

.card {
    background: #772929;
    width: 300px;
    height: auto;
    margin: 15px 0;
}

.thumbnail {
    width: 100px;
    padding: 10px;
    float: left;
}

.info {
    float: left;
}

.clearfix {
    clear: both;
}