
body {
    background: #dad9d9;    
}

.card {
    background: #ffffff;
    width: 360px;
    height: auto;
}

.thumbnail {
    width: 100px;
    padding: 10px;
    float: left;
}

.info {
    float: left;
}

.clearfix {
    clear: both;
}